.home {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 15px;

        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            padding: 25px;
            border-radius: 15px;
            background-color: #29435C;
            font-size: 20px;

            .box-title {
                font-size: 22px;
            }

            .loading i {
                font-size: 32px;
            }

            .led {
                margin-right: 5px;
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }

        @media screen and (orientation: portrait) {
            flex-direction: column;

            .box {
                font-size: 18px;

                .buttons .button {
                    font-size: 16px;
                }
            }
        }
    }
}