.home {

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 15px;
        font-size: 18px;

        .box {
            display: flex;
            flex-direction: column;
            padding: 25px;
            border-radius: 15px;
            background-color: #29435C;

            .box-title {
                font-size: 22px;
            }

            .box-content {
                margin-top: 10px;
                text-align: left;
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 5px;
                margin-top: 10px;

                button {
                    font-size: 16px;
                }
            }

            .loading,
            .info {
                margin-top: 10px;

                i {
                    font-size: 26px;
                }
            }
        }

        .status .box-content {
            text-align: center;

            .led {
                margin-right: 5px;
            }
        }
    }
}