.home {

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
        margin-top: 15px;

        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 25px;
            border-radius: 15px;
            background-color: #29435C;
            font-size: 18px;

            .box-title {
                font-size: 22px;
            }

            .box-content {
                margin-top: 10px;
                text-align: left;
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 5px;
                margin-top: 10px;

                button,
                a {
                    font-size: 16px;
                }
            }

            .loading,
            .info {
                margin-top: 10px;

                i {
                    font-size: 26px;
                }
            }
        }

        .status .box-content {
            text-align: center;

            .led {
                margin-right: 5px;
            }
        }

        @media screen and (orientation: portrait) {
            flex-direction: column;
            align-items: initial;

            .box {
                font-size: 14px;

                .box-content {
                    text-align: center;
                }

                .buttons .button {
                    font-size: 14px;
                }
            }
        }
    }
}