.login {
    .box {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 25px;
        margin-top: 15px;
        background-color: #29435C;
        border-radius: 15px;
    }
}